* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("img/robert-bye-newyork.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  color: white;
  text-align: center;

  position: relative;

}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* półprzezroczyste przyciemnienie */
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.countdown {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.time-value {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.time-label {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}